.span-issue2{
	font-family: 'RG';
    font-size: 2rem; 
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    width: calc(100% - 24px);
    word-break: normal;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}
.div-main2{
    width: 55rem;
    height: 85rem;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    background-color: #EEEEEE;
    border-radius: 1.5rem;
    overflow: auto;
}
.div-issue{
    width: 45rem !important;
    border:3px black solid;
    border-radius: 1.5rem;
    margin-top:3rem !important;
}
.div-form-cause{
    width: 46rem;
    height: 2.5rem;
    justify-content: left;
    margin-top: 2.5rem;
}
.img-issue{
    width: 11rem;
    height:15rem;
}
.div-photo2{
    width: 40rem;
}
.div-form{
    width: 46rem;
    height: 2.5rem;
    justify-content: left;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
.div-form2{
    width: 46rem;
    height: 2.5rem;
    justify-content: left;
    margin-top: 1rem;
}
.div-form-special{
    width: 46rem;
    height: 2.5rem;
    justify-content: left;
    margin-top: 2rem;
}
.span-form{
	font-family: 'RG';
    font-size: 2.5rem;
	margin-bottom: 2rem;
}
.span-form-description{
	font-family: 'RG';
    font-size: 2.5rem;
	margin-bottom: 1rem;
	margin-right: auto;
}
.div-form-description2{
    width: 46rem;
    height: 24rem;
    justify-content: left;
    margin-bottom:2rem;
}
.textarea-description{
    height: 16rem;
    width: 46rem;
    font-size: 2.5rem;
    font-family: 'RG';
}
.span-issue-bottom{
	margin-bottom:1rem;
}