.video-guide{
    width: 24rem;
    height: 18rem;
    margin: 1rem 1rem 1rem 1rem;
}
.div-bg{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.span-videodesc{
    word-break: break-all;
    font-family: 'RM';
    font-size: 2rem;
    width: 24rem;
}