<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/static/css/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/css/main.css}" rel="stylesheet" type="text/css" />
    <title th:text="#{missuedis.title}"></title>
</head>

<body>
    <div class="div-container flex-container-column">
        <div class="div-header flex-container">
            <img class="icon-return" th:src="@{/static/icon/return.svg}">
            <span class="span-header" th:text="#{missuedis.header}"></span>
        </div>
        <div class="flex-container-column">
        	<div class="div-customer flex-container" th:each="customer : ${customerList}">
        		<input class="radio-customer" type="radio" th:id="${customer.id}">
        		<span class="span-customer" th:text="${customer.name}"></span>
        	</div>
        </div>
        <div class="div-submit flex-container">
            <button id="btn_form" class="span-submit" th:text="#{public.submit}"></button>
        </div>
    </div>

    <script th:src="@{/static/js/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/common.js}" type="text/javascript"></script>
    <script th:inline="javascript">
    var issueCode = /*[[${issueCode}]]*/;
    var isWxcp = /*[[${isWxcp}]]*/;
    var repairCustomerId = "";
    $(".div-customer").click(function(){
		repairCustomerId = $(this).children(".radio-customer").attr("id");
		$(".radio-customer").each(function(){
			if($(this).attr("id") != repairCustomerId)
				$(this).prop("checked",false);
			else
				$(this).prop("checked",true);
		})
	});
    $(".icon-return").click(function(){
    	window.location.href = "/aftersales/missue";
	});
    $(".span-submit").click(function(){
    	$.ajax({
    		url:'/aftersales/missue/' + issueCode + "/distribution",
    		method:'POST',
    		data:{
    			"repairCustomerId":repairCustomerId
    		},
    		dataType:'json',
    		success:function(result){
    			if(result.status == 200){
    				if(isWxcp)
    					window.location.href = "/aftersales/info";
    				else
    					window.location.href = "/aftersales/missue";
    			}else{
    				window.location.href = "/aftersales/front/error.html";
    			}
    			
    		}
    	})
    })
    </script>
</body>

</html>